---
layout: default
---
<div id="gridid" class="col-sm-12">
  {{ content }}

  <form class="mb-3 needs-validation" id="contactForm" action="https://formspree.io/f/xknyrprn" method="post"
    novalidate>

    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" type="text" name="name" id="name" autocomplete="name" placeholder="First  Lastname"
        required>
    </div>

    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" type="email" name="_replyto" id="email" autocomplete="email"
        placeholder="name@example.com" required>
    </div>

    <div class="mb-3">
      <label class="form-label" for="message">Message</label>
      <textarea class="form-control" type="text" name="message" id="message" rows="7" autocomplete="message"
        required></textarea>
    </div>

    <input type="hidden" name="_subject" value="Website Form submission">
    <input type="hidden" name="_format" value="plain" />
    <input class="hidden" type="text" name="_gotcha">
    <div class="col-sm-12">
      <button class="btn btn-primary" type="submit" value="Send">Send</button>
    </div>
  </form>
</div>