---
layout: default
---
<div id="homehead" class="col-sm-8">

  <H1>Welcome to the <strong>first edition</strong> of the 
    <div style="font-weight: bold;text-transform: uppercase;display:inline">Brain, Behavior & Society Springschool</div> in Graz</H1>
  <H2>5<sup>th</sup> &ndash; 8<sup>th</sup> of April 2022 @ Unicorn Graz<BR>and online throughout the world.</H2>
  <H4><BR></H4>
</div>

<div id="logoid" class="col-sm-4">
  <center>
    <img src="{{ site.url }}/images/BBS_pngs/BBS_logo1_0222_school_black.png" class="img-responsive" width="75%" style="float: center" alt="logo">
  </center>
</div>


<div id="homeid" class="col-sm-8">
  {{ content }}
</div>

<div id="newsid" class="col-sm-4">
  {% include news.html %}
</div>